.manage-inventory:hover{
    transform: scaleY(1.20);
    transition: 0.5 ease-in-out;
}
.inventory-img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.margin-top{
    margin-top: 30px;
}
.delete-btn{
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .inventory-img{
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }
    .delete-btn{
        width: 20px;
        height: 20px;
    }

    .margin-top{
        margin-top: 20px;
    }
}